.frame {
    border: 1px solid white;
    display: flex;
    max-width: 100vh;
    justify-content: center;
    margin: 0 auto;
    margin-top: 3%;
}

label {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
}