.nav {
    display: flex;
    gap: 20px;
}

.link {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.link:hover {
    color: #060101;
}

.link.active {
    border-bottom: 2px solid #4ade80;
}