.frame {
    border: 1px solid white;
    display: flex;
    max-width: 100vh;
    justify-content: center;
    margin: 0 auto;
}

label {
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

button {
    display: flex;
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: whitesmoke;
    color: black;
    border-radius: 8px;
    padding: 3%;
    cursor: pointer;
}

button:hover {
    background-color: white;
}